body {
    background: linear-gradient(rgba(0, 186, 249, 0.3), rgba(0, 186, 249, 0.5)), url('../images/benderbackground.jpeg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

form {
    background-color:rgba(0, 186, 249,.8);
}


/* CARD STYLES */
.card {
    min-width: 300px;
    height: 600px;
}

.image {
    height: 250px;
    /* image does not overflow from its parent container */
    overflow: hidden; 
    /* width and the height are the same */
    aspect-ratio: 1/1;
}